.background { 
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/32/b8/77/32b877ed4aa7778cc7d43ebb7d95a6f1.png");
    table-layout: fixed;
    border-spacing: 0;   
}

.background td { 
	padding: 0;          
}

.lava { 
	background: #FEB92F;
}

.wall { 
	background: #000000;  
  /*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/81/66/ce/8166ce752069e7df3a55b993fe9ae1d4.jpg");*/
}

.actor { 
	position: absolute;  
}

.coin { 
background: white; 
}

.player { 
	background: #1571b8; 
}

.life {
  background: #F0F8FF;
}

.enemy {
	background: #FF8C00;
  transform: rotate(-90deg);
}

.floater { 
	background: #000066; 
}

.lost .player {
  background: #22379D;
  transform: scale(-0.5);
}
.won .player {
  background: #80aaff;
  transform: scale(3);
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}


