.background { 
	background: #7fc1cc;
    table-layout: fixed;
    border-spacing: 0; 
   

}

.background td { 
	padding: 0;         
}
.lava { 
	background: #e88630; 
}
.wall {
	background: #fae4d1; 
	background-image: url("http://www.cerrad.pl/produkty/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/l/o/loft-bick-wyklejanie-8.jpg");
}

.floater { 
	background: #774e22; 
}

.game {
  position: relative;
}
